html {
  font-size: 12px;
}
body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  height: 100vh;
  width: 100vw;
}
/* Header */
@media(min-width: 621px){
header {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  position: fixed;
}
}
/* Upper header */
header .upper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .upper-header .search-div {
  margin-right: 5rem;
}
header .upper-header form {
  display: inline-flex;
}
form .input-div {
  /*! height: 2.rem; */
  margin: 0.5rem;
}
header input {
  background-color: #eee;
}
header button {
  background-color: grey;
  color: #fff;
  margin-left: 3px;
  width: 80px;
  height: 27px;
  text-transform: uppercase;
}
button {
  cursor: pointer;
}
input, button{
  height: 100%;
  border: none;
  padding: 3px;
  padding-left: 7px;
  /*! font-size: 1.1rem; */
}
/* @Navbar */
.nav-div nav {
  background-color: #ff1111;
  height: 60px;
}
header ul {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
  list-style: none;
}
header ul a {
  color: #fff;
  font-weight: bold;
  padding: 5px;
}
header ul a:hover {
  color: grey;
  background-color: #fff;
  transition: all 0.3s ease;
}
.nav-heart {
  font-size: 10px;
  color: grey;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* .active  {
  background-color: grey;
  height: 34px;
  padding-top: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-top: -1rem;
} */
/* .active:hover {
  background-color: #fff;
} */


/*
MAIN BODY
  */
.login-div {
  background: url('../src/resources/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-div a {
  color: #ffffff;
  padding: 7px;
}
.login-div a:hover {
  background-color: #fff;
  color: #444;
  transition: all 0.4s ease;
}
main .input-div {
  margin-top: 1rem;
}
.login-username,.login-password {
  width: 250px;
}
.login-div form {
  margin: -10rem;
}
main .login-btn {
  width: 250px;
  height: 30px;
  background-color: gray;
  text-transform: uppercase;
  color: #fff;
} 
#status {
  height: 20px;
}
.error{
  color: red;
}
/* articles */

.static-div {
  position: fixed;
  top: 32vh;
  margin-left: 1rem;
  height: 70vh;
  float: left;
}
section form {
  display: inline-flex;
  padding: 10px;
}

section input {
  background-color: #eee;
}
section button {
  background-color: grey;
  color: #fff;
  margin-left: 3px;
  width: 80px;
  height: 27px;
  text-transform: uppercase;
}
section nav {
  width: 25%;
}
section .breadcrumb {
  display: flex;
  list-style: none;
}

.breadcrumb li {
  background-color: gray;
  padding: 0.7rem;
  margin: 3px;
  cursor: pointer;
  border-radius: 5px;
}
.breadcrumb a {
  color: #fff;
}

.left-article-section form {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  height: 50rem;
}
.left-article-section input {
  width: 300px;
}
.left-article-section textarea {
  border: none;
  background-color:#eee;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px;
  width: 100%;
}

/* right section */
.articles-div{
  float: right;
  width: 50%;
  margin-top: 18rem;
  scroll-behavior: auto;
}
.resources-div {
  float: right;
  width: 50%;
  margin-top: 18rem;
  scroll-behavior: auto;
  margin-left: auto;
}
article {
  padding: 1rem;
  padding-top: 3px;
  margin-top: 5px;
  background-color: #eee;
}
.articles-div article:hover {
  box-shadow: #999 0px 0px 5px 5px;
  transition: all 0.3s ease;
}
 h5 {
  text-align: center;
  margin-bottom: 0rem;
}
small {
  font-size: x-small;
} 

.article-item {
  float: right;
  width: 50%;
  margin-top: 18rem; 
}

.article-item form, .the-article{
  position: fixed;
}
.the-article {
  width: 45%;
}

.article-item form {
  margin-top: 10rem;
  margin-bottom: -5rem;
}
.comment-div form {
  margin-top: 7rem;
}
.comment-div article {
  width: 60%;
  float: right;
}
.comments{
  margin-top: 15rem;
}
.item-title {
  display: flex;
  justify-content: space-between;
}
.close-icon {
  cursor: pointer;
  color: #fff;
  background-color: #ff1111;
  border-radius: 50%;
  width: 1rem;
}
.display-flex {
  display: flex;
  flex-direction: column;
}
.d-none {
  display: none;
}
.edit-btn {
  background-color: grey;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

#resource-form {
    display: flex;
    flex-direction: column;
  }
.forgot-password, .change-password {
  position: absolute;
  margin-top: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot-password,.change-password .form-div {
  background-color: #fff;
  height: 40vh;
  width: 30%;
  box-shadow: #000 0px 10px 15px 10px;
}

.forgot-password,.change-password input {
 width: 95%;
 color: #000;
 outline-color: #00f;
 border: 1px solid #00f;
}
.forgot-password,.change-password button:hover {
  width: 95%;
  transition: all 0.5s ease;
  border: 1px solid #00f;
  outline-width: 1px;
  background-color: #fff;
  color: #000;
}


/* CREATE USER FORM */
div.main {
  position: relative;
  top: 34vh;
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#admin-form {
  background-color: #fff;
  width: 50%;
  height:40%;
  box-shadow: #ccc 0px 10px 15px 10px;
  padding: 1rem;
}
#create-user-section,#admin-section {
  width:100%;
  height:100%;
  /*! background:red; */
  display:flex;
  justify-content: center;
  align-items: center;
}
 #user-form{
  background-color: #fff;
  width: 50%;
  height:70%;
  box-shadow: #ccc 0px 10px 15px 10px;
  padding: 1rem;
 }
#user-form input,#admin-form input  {
 border-bottom: 1px #ccc solid;
}
#user-form button,#admin-form button {
  font-size: 1.5rem;
  background-color:#ccc;
  color: #fff;
  border:1px solid #aaa;
  border-radius: 1rem;
  padding: 0.5rem;
}
#user-form button:hover,#admin-form button:hover {
  background-color:#fff;
  color: #555;
  border:1px solid #aaa;
  padding: 0.5rem;
}
.error-div {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 4s;
  position: absolute;
  top: 0px;
  opacity: 0.8;
  z-index: 2;
}
.error-status {
  width: 30%;
  height: 20%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #ff1111;
  }
  .error-status button {
    height: 25%;
    width: 30%;
    color: #000;
    background-color: #999;
  }
  footer {
    width: 100%;
    height: 30%;
  }
  footer ul {
    display: flex;
    justify-content: space-between;
    /*margin: 2rem;*/
    list-style: none;
    flex-wrap: wrap;
  }

/* MEDIA QUERIES */


@media(max-width: 740px ){
  header .upper-header {
    display: flex;
    flex-direction: column;
  }
  .nav-div ul {
    display: flex;
    flex-wrap: wrap;
  }
  .nav-div ul li {
    margin-right: 1.2rem;
    line-height: 1.5rem;
  }
  .static-div {
    background: none;
    position: fixed;
    top: 2.5rem;
    height: 50vh;
  }
  .forgot-password, .change-password  {
    margin-top: 22rem;
  }
  .forgot-password,.change-password .form-div {
    width: 50%;
  }
  .article-item  {
    margin-top: 20rem;
  }
  .comment-form{
    position: relative;
    top: 22rem;
    display:flex ;
    flex-direction: column;
  }
  .comment-form button {
    margin-top: 4.3rem;
  }
  .comments {
    margin-top: 20rem;
  }
  .comments h4 {
    display: none;
  }
  .comment-div article {
    float: left;
    border-radius: 1rem;
    margin-left: 2rem;
  }
  .resources-div {
    margin-top: 20rem;
  }
  .document {
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 620px) {
  .nav-div nav {
    height: fit-content;
  }
  .nav-div ul {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }
  .nav-div li {
    width: 90%;
  }
  .nav-div a {
    line-height: 2rem;
  }
  .nav-div a:hover{
    background-color: #cf0000;
    color: #fff;
  }
  .nav-div li:hover {
    background-color: #cf0000;

  }
  .logo img {
    width: 100%;
    height: 15vh;
  }
  .login-div {
    background: none;
    position: fixed;
    /*top: 30rem;*/
    height: 50vh;
  }
  .change-password {
    position: fixed;
    top: 23.5rem;
    height: 55vh;
  }
  button {
    cursor: pointer;
    width: 15rem;
  }
  input, button{
    height: 100%;
    border: 1px solid gray;
    padding: 3px;
    padding-left: 7px;
  }
  .input-div a {
    background-color: #444;
    width: 100%;
  }
  .static-div {
    display: none;
  }
  .articles-div, .resources-div{
    width: 100%;
    margin-top: 1rem;
    right: 1rem;
    scroll-behavior: auto;
  }
  .article-item {
    float: left;
    width: 50%;
    margin-top: 0rem; 
  }
  .comment-form{
    position: relative;
    right: 1rem;
    top: 28rem;
    display:flex ;
    flex-direction: column;
  }
  .comment-form button {
    margin-top: 4.3rem;
  }
  .comments {
    margin-top: 10rem;
  }
  .forgot-password, .change-password  {
    margin-top: 11rem;
    /*height:100vh;*/
  }
  #reset-password {
    height: 400px;
  }
  .forgot-password,.change-password .form-div {
    width: 99%;
  }
  .forgot-password,.change-password button {
    width: 95%;
  }
  .user-form-div {
    width: 100%;
    margin-top: 7rem;
  }
  .user-form {
    display: flex;
    flex-direction: column;
  }
  .gender {
    margin-top: 2rem; 
  }
  .radio {
    color: red;
  }
  .comment-div article {
    float: left;
    border-radius: 1rem;
  }
  .error-status {
    width: 60%;
  }
  .error-status button {
    width: 50%;
  }
}

@media(max-width: 575px) {
  .the-article {
    width: 90%;
      }
  .comment-form{
    display: none;
  }
  .the-main {
    background-color: red;
  }
}


















